# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.DS_Store
.env
model/
tokenizer/